<!DOCTYPE html>
<html>

<head>
    <title>RAGDE</title>
    <link rel="icon" type="image/png" href="/images/one_fav.png" />
</head>
<style>
    body {
        overflow: hidden;
        margin: 0px;
    }
</style>

<body>
    <!-- <h1>RAGDE</h1>
    <a href="/one">one</a> -->
    <script type="module" src="/scripts/home.js"></script>
</body>

</html>