<!DOCTYPE html>
<html>

<head>
    <title>Three</title>
    <style>
        body {
            overflow: hidden;
            margin: 0px;
        }
    </style>
    <link rel="icon" type="image/png" href="/images/one_fav.png" />
</head>

<body>
    <script type="module" src="/scripts/three.js"></script>
</body>

</html>